In [1]:
import pandas as pd
import functions as fun
import re

# First we are going to load the GDP dataset from World Bank

On a previous try, I did it through webscrapping but the result was not that clear and the information was not totally accurate.

In [2]:
gdp = pd.read_csv("../data/countries.csv")
gdp

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021];;;;;;;
0,GDP (current US$),NY.GDP.MKTP.CD,Afghanistan,AFG,537777811.111111,548888895.555556,546666677.777778,751111191.111111,800000044.444444,1006666637.77778,...,20203572959.5023,20564485419.1684,20550582746.8448,19998156214.3988,18019558181.9602,18896352021.94,18418848299.5825,18904490262.913,20143442150.971,14786861638.4535;;;;;;;
1,GDP (current US$),NY.GDP.MKTP.CD,Albania,ALB,..,..,..,..,..,..,...,12319830437.3467,12776220507.0162,13228147516.1168,11386850129.8411,11861199830.8396,13019689336.6919,15156432309.8977,15401830754.0773,15131866270.5936,18255787479.1846;;;;;;;
2,GDP (current US$),NY.GDP.MKTP.CD,Algeria,DZA,2723593384.78054,2434727329.809,2001428328.37091,2702960118.28806,2909292864.23204,3136258896.9233,...,209058991952.125,209755003250.664,213810024944.464,165979279263.174,160034163871.455,170097014589.134,174910878623.049,171767403748.19,145009181490.62,163044443983.759;;;;;;;
3,GDP (current US$),NY.GDP.MKTP.CD,American Samoa,ASM,..,..,..,..,..,..,...,640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000;;;;;;;
4,GDP (current US$),NY.GDP.MKTP.CD,Andorra,AND,..,..,..,..,..,..,...,3188808942.56713,3193704343.20627,3271808157.30038,2789870187.50693,2896679211.86628,3000180750.11297,3218316013.22626,3155065487.51819,2891022272.98687,3330281523.53915;;;;;;;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,GDP (current US$),NY.GDP.MKTP.CD,World,WLD,1392276589084.81,1448625354543.06,1550548209897,1671614361647.28,1830292049379.14,1993905211837.65,...,75501151302966,77607185263724,79733153025706.7,75187841840596.7,76461546747208.8,81400670239258.9,86456888252044.3,87645255635476.5,85105603606117.1,96513077364367.9;;;;;;;
266,;;;;;;;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,;;;;;;;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,;;;;;;;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,;;;;;;;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We are going to keep some of the countries of the dataset, as most of them have never achieve any Nobel Award.

In [3]:
lis = ['Australia','Belgium','Brazil','Canada','China','Denmark','Estonia','Finland', 'France','Germany','Greece','Ireland','Italy', 'Japan','Korea, Rep.''Mexico','Morocco','Netherlands' ,'New Zealand', 'Norway', 'Portugal', 'Russian Federation','South Africa',  'Spain', 'Sweden', 'Switzerland', 'United Kingdom', 'United States', "URSS"]

In [4]:
fun.delete_rows_country(gdp, "Country Name", lis)
fun.drop_nan(gdp)
fun.drop_column(gdp, "Series Name")
fun.drop_column(gdp, "Series Code")

As the name of the columns is not clear, we are going to apply regex to all of them in order to keep only the year number, not the number within the brackets

In [5]:
gdp.rename(columns={c: fun.repl(c.strip()) for c in gdp.columns}, inplace=True)

In [6]:
gdp.columns

Index(['Country Name', 'Country Code', '1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021'],
      dtype='object')

In [7]:
col = [['1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021']]

In [9]:
gdp[col].split('.')[0]

AttributeError: 'DataFrame' object has no attribute 'split'

In [ ]:
# fun.split_values(gdp,['1960', '1961', '1962', '1963', '1964',
#        '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
#        '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
#        '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
#        '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
#        '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
#        '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
#        '2019', '2020', '2021'])

In [ ]:
gdp[['1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021']].astype("int64")

In [ ]:
gdp

In [ ]:
gdp.to_csv("../Data/gdp.csv", index=False )